
# Maven
target/


# Eclipse files
.classpath
.project
.settings
/workspace/

# IntelliJ Idea files
*.iml
*.ipr
*.iws
*.idea

# Mac
.DS_Store

# Test remnants
objectstore/
.mule/
*.log
temp/
muleEmbeddedDB/
activemq-data/
directory/
testdir/
hostkey.ser
*.h2.db
*.factorypath
dependency-reduced-pom.xml
myDB/
previousDB/
derbyLeakTriggererDB/
J17_validation.sh
db-derby-10.16.1.1-bin.tar.gz
