<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd

        http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <db:config name="mssql-config">
        <db:mssql-connection host="localhost"
                             port="#[java!org::mule::extension::db::DbMunitUtils::getDbPort('mssql')]"
                             user="sa"
                             password="yourStrong(!)Password"
                             instanceName="MSSQLSERVER"
                             databaseName="master"
        />
    </db:config>

    <db:config name="mssql-column-types-config">
        <db:mssql-connection host="localhost"
                             port="#[java!org::mule::extension::db::DbMunitUtils::getDbPort('mssql')]"
                             user="sa"
                             password="yourStrong(!)Password"
                             instanceName="MSSQLSERVER"
                             databaseName="master">
            <db:column-types>
                <db:column-type id="-2" typeName="binary"/>
                <db:column-type id="-3" typeName="varbinary"/>
            </db:column-types>
        </db:mssql-connection>
    </db:config>


    <db:config name="mssql-config-invalid-host">
        <db:mssql-connection host="invalid-host"
                             port="#[java!org::mule::extension::db::DbMunitUtils::getDbPort('mssql')]"
                             user="sa"
                             password="yourStrong(!)Password"
                             instanceName="MSSQLSERVER"
                             databaseName="master"
        />
    </db:config>
    <db:config name="mssql-config-invalid-password">
        <db:mssql-connection host="localhost"
                             port="#[java!org::mule::extension::db::DbMunitUtils::getDbPort('mssql')]"
                             user="sa"
                             password="invalid-password"
                             instanceName="MSSQLSERVER"
                             databaseName="master"
        />
    </db:config>
    <db:config name="mssql-config-invalid-database-name">
        <db:mssql-connection host="localhost"
                             port="#[java!org::mule::extension::db::DbMunitUtils::getDbPort('mssql')]"
                             user="sa"
                             password="yourStrong(!)Password"
                             instanceName="MSSQLSERVER"
                             databaseName="invalid-database-name"
        />
    </db:config>
</mule>